footer a{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    

    background-color: white;
    padding: 1vw 1.3vw;

    border-radius: 50%;

    font-size: 1.3vw;

    color: aqua;
}

@media(max-width: 480px){

    footer a{
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        
    
        background-color: white;
        padding: 2vw 2.3vw;
    
        border-radius: 50%;
    
        font-size: 2.5vw;
    
        color: aqua;
    }
    
}