footer{
    width: 100vw;
    height: 9vh;

    display: flex;

    margin-top: 5vh;
    padding: 3vh 0;

    justify-content: center;
    align-items: center;

    background-color: rgb(35, 197, 29);
}
footer p{
    color: rgb(25, 6, 197);
}

footer a{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    
    padding: 1vw 1.3vw;

    border-radius: 50%;
    border:  solid 1px rgb(27, 12, 230);

    font-size: 1.3vw;

    color: rgb(23, 7, 248);
}

@media(max-width: 480px){

    footer a{
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        
    
        padding: 2vw 2.3vw;
    
        border-radius: 50%;
    
        font-size: 2.5vw;
    
    }
    
}